@using ProjectHealthReport.Domains.Helpers
@using ResponsibilityChain.Business.RequestContexts
@inject RequestContext RequestContext
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">Project Health Report</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <p class="nav navbar-text navbar-right">Hello, @RequestContext.UserEmail!</p>
                <ul class="navbar-nav flex-grow-1">
                    @if (AuthorizationHelper.AdministrationAcessRoles.Contains(RequestContext.UserRole))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Administration">Administration</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container--fluid">
    <main role="main">
        @RenderBody()
    </main>
</div>

@RenderSection("Project_Index_DataTable_Script", required: false)
@RenderSection("GetGeneratedWeeklyReport_Script", required: false)

</body>
</html>
